<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap-theme.min.css' />
      <link rel="stylesheet/less" type="text/css" href="/less/home.less" />
      <link rel='stylesheet' href='/plug/sweetalert/css/sweet-alert.css' />
      <link rel='stylesheet' href='/stylesheets/index/index.css' />
      <link rel='stylesheet' href='/plug/webuploader/webuploader.css' />
      <script src="/plug/sweetalert/js/sweet-alert.min.js"></script>
      <script src="/bootstrap/js/jquery-3.1.0.min.js"></script>
      <script src="/bootstrap/js/bootstrap.js"></script>
      <script src="/plug/seajs/sea.js"></script>
      <script src="/plug/webuploader/webuploader.custom.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
      <script>
          var userInfo=<%- userInfostr%>
          var headImageOnload=function(item){

              $(item).addClass('fadeInDownBig');
              setTimeout(function(){
                  $('.setion1 h2').removeClass('hidden').addClass('lightSpeedInRight');
                  $('.setion1 h3').removeClass('hidden').addClass('lightSpeedInLeft');


              },1000)

             // $('.setion1 h3').addClass('pulse')
          }
      </script>
        <body  <%if(userInfo.name){%> class="loged"<%}%>>
          <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container">
                  <ul class="nav navbar-nav">
                      <%if(userInfo.name){%>
                      <!--<%if (userInfo.headImage){%>-->
                      <!--<li><img class="headImage" onload="$(this).addClass('fadeInDownBig')" src="<%=userInfo.headImage%>"/></li>-->
                      <!--<%}%>-->
                      <li class="welcome"><a href="#">欢迎：<%=userInfo.name%></a></li>

                      <!--<li><a  id="upload" >上传头像</a></li>-->
                      <%}else{%>
                      <li><a href="#">请登入</a></li>
                      <%}%>

                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                      <%if(userInfo.name){%>
                      <li class="active">
                          <a id="logout" type="logout" href="#">退出</a></li>
                      <%}else{%>
                      <li class="active">
                          <a type="login" href="#">登入</a></li>
                      </li>
                      <li>
                          <a type="reg" href="#">注册</a></li>
                      <%}%>

                  </ul>
              </div>
          </nav>

          <div class="pageh setion setion1">
              <div class="bgfilter"><div class="bg"></div></div>
              <%if (userInfo.headImage){%>
              <div class="vc_table">
                  <div class="vc_cell tcenter">
                      <img class="headImage" onload="headImageOnload(this)" src="<%=userInfo.headImage%>"/>
                      <h2 class="hidden">王嘉林</h2>
                      <h3 class="hidden">高级前端工程师</h3>
                  </div>
              </div>
              <%}%>
          </div>
          <div id="myModal" role="dialog" class="form-group row modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title">注册</h4>
                      </div>
                      <div class="modal-body" >
                          <div class="row">
                              <div class="col-md-4">
                                  用户名：
                              </div>
                              <div class="col-md-8">
                                  <input id="regusername" class="form-control" >
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                  密码：
                              </div>
                              <div class="col-md-8">
                                  <input id="regpassword" class="form-control" >
                              </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" id="reg">注册</button>
                          <button type="button" class="btn btn-primary" id="login">登入</button>
                      </div>
                  </div>
              </div>
          </div>
            <div id="uploadModal" role="">

            </div>

          <script>
                seajs.use('/javascripts/index/index.js')
          </script>
        </body>
</html>
